<!-- contacts/templates/contacts/contacts.html -->

{% extends 'index.html' %} {% block content %}
<style>
  h2 {
    color: #333;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    background-color: #fff;
    margin-bottom: 0.5em;
    padding: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
</style>

<h2>Contact List</h2>
<ul>
  {% for contact in contacts %}
  <li>
    {{ contact.first_name }} {{ contact.last_name }} - {{ contact.email }}
  </li>
  {% endfor %}
</ul>
{% endblock %}
