<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact App</title>

    <style>
      body {
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }

      header {
        background-color: #ea9494;
        color: white;
        padding: 1em;
        text-align: center;
      }

      nav {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
      }

      main {
        margin: 2em;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Contact App</h1>
      <nav>
        <a href="{% url 'contacts' %}">Contacts</a>
        <a href="{% url 'help' %}">Help</a>
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
